const styles = StyleSheet.create({

  container: {
    flex: 1,
    padding: 8,
    backgroundColor: '#ffffff',
    alignItems: 'center',
    justifyContent: 'center',
  },
  profile: {
    flexDirection: 'row',
    position: 'absolute',
    top: 10,
    left: 10,
    marginTop: 0,
  },
  header: {
    fontSize: 16,
    fontWeight: 'bold',
    marginBottom: 10,
    color: '#0954a5',
  },
  headerImage: {
    width: 100,
    height: 100,
    marginTop: 30,
    alignItems: 'center',
  },
  
  title: {
    fontSize: 20,
    fontWeight: 'bold',
    marginVertical: 8,
    borderBottomWidth: 1,
    color: '#0954a5',
  },
  expenseListContainer: {
    width: '90%',
  },
  expenseItem: {
    borderBottomWidth: 1,
    marginBottom: 10,
    paddingVertical: 5,
  },
  deleteButton: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#d11a2a',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  deleteButtonText: {
    color: 'white',
    marginLeft: 5,
  },
  buttonCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#0954a5',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  buttonTextCss: {
    color: 'white',
    marginLeft: 5,
  },
  logoutCss: {
    position: 'absolute',
    top: 10,
    right: 10,
    marginTop: 0,
  },
  disabledCss: {
    backgroundColor: '#dedede',
  },
  shareExpenseButton: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#13652b',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  shareExpenseButtonText: {
    color: 'white',
    marginLeft: 5,
  },
  amountsDueContainer: {
    marginVertical: 20,
    width: '90%',
  },
  amountDueText: {
    fontSize: 16,
    marginBottom: 5,
  },
  searchBarContainer: {
    width: '90%',
  },
  searchBar: {
    borderWidth: 1,
    borderRadius: 5,
    width: '100%',
    padding: 5,
    marginBottom: 5,
  },
  centeredView: {
    flex: 1,
    justifyContent: 'center',
    alignItems: 'center',
    marginTop: 22,
  },
  modalView: {
    margin: 20,
    backgroundColor: 'white',
    borderRadius: 20,
    padding: 35,
    alignItems: 'center',
    shadowColor: '#000',
    shadowOffset: {
      width: 0,
      height: 2,
    },
    shadowOpacity: 0.25,
    shadowRadius: 4,
    elevation: 5,
  },
  button: {
    borderRadius: 20,
    padding: 10,
    elevation: 2,
  },
  buttonClose: {
    backgroundColor: '#2196F3',
  },
  textStyle: {
    color: 'white',
    fontWeight: 'bold',
    textAlign: 'center',
  },
  modalImage: {
    width: 200,
    height: 200,
    marginBottom: 15,
  },
  datePickerStyle: {
    width: 200,
    margin: 20,
    borderRadius: 20,
  },
  buttonContainer: {
    flexDirection: 'row',
    alignItems: 'center',
    marginBottom: 10,
  },
  buttonLabel: {
    fontSize: 16,
  },
  billImage: {
    width: 100,
    height: 100,
    marginTop: 10,
  },
  dropdown: {
    padding: 2,
    marginBottom: 10,
  },
  header: {
    color: '#0954a5',
    fontSize: 20,
    fontWeight: 'bold',
    marginTop: 50,
  },
  buttonCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#0954a5',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  buttonTextCss: {
    color: 'white',
    marginLeft: 5,
  },
  logoutCss: {
    position: 'absolute',
    top: 10,
    right: 10,
  },
  disabledCss: {
    backgroundColor: '#dedede',
  },
  title: {
    fontSize: 20,
    fontWeight: 'bold',
    marginVertical: 8,
    borderBottomWidth: 1,
    color: '#0954a5',
  },
  input: {
    height: 40,
    borderColor: 'gray',
    borderWidth: 1,
    paddingHorizontal: 8,
    marginBottom: 16,
    borderRadius: 5,
  },
  friendItemContainer: {
    flexDirection: 'row',
    alignItems: 'center',
    marginVertical: 4,
  },
  checkbox: {
    marginRight: 8,
  },
  friendName: {
    fontSize: 16,
    flex: 1,
  },
  bellIcon: {
    width: 26,
    height: 26,
  },
  space: {
    marginVertical: 8,
  },

  groupContainer: {
    marginVertical: 8,
  },
  groupName: {
    fontSize: 18,
    fontWeight: 'bold',
    marginLeft: 5,
  },
  deleteIcon: {
    marginRight: 8,
  },
  deleteButtonText: {
    color: 'white',
  },

  input: {
    width: '80%',
    borderBottomWidth: 1,
    paddingVertical: 5,
    marginTop: 15,
  },
  title: {
    color: '#0954a5',
    fontSize: 40,
    fontWeight: 'bold',
  },
  subTitle: {
    color: '#999999',
    fontSize: 16,
    marginBottom: 20,
  },
  messgaeView: {
    flexDirection: 'row',
    marginTop: 20,
  },
  link: {
    color: 'blue',
    marginStart: 5,
  },
  buttonCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#0954a5',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  buttonText: {
    color: 'white',
    marginLeft: 5,
  },
  disabledCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#dedede',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  title: {
    fontSize: 20,
    fontWeight: 'bold',
    marginBottom: 10,
    color: '#0954a5',
  },
  buttonCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#0954a5',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  buttonTextCss: {
    color: 'white',
    marginLeft: 5,
  },
  logoutCss: {
    position: 'absolute',
    top: 10,
    right: 10,
    marginTop: 0,
  },

  profile: {
    flexDirection: 'row',
    position: 'absolute',
    top: 10,
    left: 10,
    marginTop: 0,
  },
  header: {
    fontSize: 16,
    fontWeight: 'bold',
    marginBottom: 10,
    color: '#0954a5',
  },
  headerImage: {
    width: 100,
    height: 100,
    marginTop: 30,
    alignItems: 'center',
  },
  inputContainer: {
    width: '90%',
    marginBottom: 20,
    marginTop: 5,
  },
  input: {
    width: '100%',
    borderBottomWidth: 1,
    marginBottom: 10,
  },
  title: {
    fontSize: 20,
    fontWeight: 'bold',
    marginVertical: 8,
    borderBottomWidth: 1,
    color: '#0954a5',
  },
  expenseListContainer: {
    width: '90%',
  },
  expenseItem: {
    borderBottomWidth: 1,
    marginBottom: 10,
    paddingVertical: 5,
  },
  
  buttonCss: {
    flexDirection: 'row',
    alignItems: 'center',
    backgroundColor: '#0954a5',
    padding: 10,
    borderRadius: 5,
    marginTop: 10,
  },
  buttonTextCss: {
    color: 'white',
    marginLeft: 5,
  },
  logoutCss: {
    position: 'absolute',
    top: 10,
    right: 10,
    marginTop: 0,
  },
  disabledCss: {
    backgroundColor: '#dedede',
  },
  
  
  centeredView: {
    flex: 1,
    justifyContent: 'center',
    alignItems: 'center',
    marginTop: 22,
  },
  modalView: {
    margin: 20,
    backgroundColor: 'white',
    borderRadius: 20,
    padding: 35,
    alignItems: 'center',
    shadowColor: '#000',
    shadowOffset: {
      width: 0,
      height: 2,
    },
    shadowOpacity: 0.25,
    shadowRadius: 4,
    elevation: 5,
  },
  button: {
    borderRadius: 20,
    padding: 10,
    elevation: 2,
  },
  buttonClose: {
    backgroundColor: '#2196F3',
  },
  textStyle: {
    color: 'white',
    fontWeight: 'bold',
    textAlign: 'center',
  },
  modalImage: {
    width: 200,
    height: 200,
    marginBottom: 15,
  },
  datePickerStyle: {
    width: 200,
    margin: 20,
    borderRadius: 20,
  },
  buttonContainer: {
    flexDirection: 'row',
    alignItems: 'center',
    marginBottom: 10,
  },
  buttonLabel: {
    fontSize: 16,
  },
  billImage: {
    width: 100,
    height: 100,
    marginTop: 10,
  },
  dropdown: {
    padding: 2,
    marginBottom: 10,
  },
});